@page "/create"
@page "/edit/{hotelId:int}"
@using BlazorApp1.Data.Models
@using BlazorApp1.Data;
@inject IHotelService hotelService;
@inject ICityService cityService;
@inject NavigationManager NavigationManager;

<h1>@headerText</h1>
<EditForm EditContext="@EditContext">
    <DataAnnotationsValidator />

    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <label for="@hotel.Name">Име</label>
                <InputText Class="form-control" @bind-Value="@hotel.Name"></InputText>
            </div>
            <div class="col-sm-6">
                <label for="@hotel.CityId">Град</label>
                <CustomInputSelect Class="form-control" @bind-Value="@hotel.CityId">
                    @foreach (var city in cities)
                    {
                        <option value="@city.Id">@city.Name</option>
                    }
                </CustomInputSelect>
            </div>
        </div>
        <div class="row">
            <h3>Стаи</h3>
        </div>
        @foreach (var room in hotel.Rooms)
        {
        <div class="row">
            <div class="col-sm-6">
                <label for="@room.BedCount">Брой легла</label>
                <InputNumber Class="form-control" @bind-Value="@room.BedCount"></InputNumber>
            </div>
            <div class="col-sm-6">
                <label for="@room.Price">Цена</label>
                <InputNumber Class="form-control" @bind-Value="@room.Price"></InputNumber>
            </div>
        </div>
        }
        <div class="row">
            <div class="col-sm-12">
                <button @onclick="(e => hotel.Rooms.Add(new RoomModel()))">Добави стая</button>
            </div>
        </div>
    </div>
    <br />

    <button class="btn-primary" @onclick="@(() => this.Create())">Потвърди</button>
</EditForm>


@code
 {
    [Parameter]
    public int? hotelId { get; set; }
    public string headerText;
    private EditContext EditContext;
    public string createEditBtnText;

    private HotelModel hotel = new HotelModel()
    {
        Rooms = new List<RoomModel>()
    };
    private List<OptionItemModel> cities = new List<OptionItemModel>();

    protected override void OnInitialized()
    {
        EditContext = new EditContext(hotel);

        this.cities = this.cityService.GetOptionItems();

        hotel.CityId = cities.FirstOrDefault()?.Id ?? 0;

        if (hotelId.HasValue)
        {
            this.headerText = "Редакция на хотел";
            this.hotel = this.hotelService.Get(hotelId.Value);
        }
        else
        {
            this.headerText = "Създаване на хотел";
        }

        if (hotelId.HasValue)
        {
            this.createEditBtnText = "Създай";
        } else
        {
            this.createEditBtnText = "Запази";
        }

        base.OnInitialized();
    }

    private void Create()
    {
        if (hotelId == null)
        {
            this.hotelService.Create(this.hotel);
        }
        else
        {
            this.hotel.Id = this.hotelId.Value;
            this.hotelService.Update(this.hotel);
        }

        NavigationManager.NavigateTo("hotels");
    }

}
