@page "/Dealership/{dealershipId:int}"
@inject BlazorApp1.Data.Interfaces.IDealershipService dealershipService;
<h3>@dealership.Address</h3>

@if (cars == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Година</th>
                <th>Мод</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in cars)
            {
            <tr>
                <td>@car.Manufacturer</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>@car.EngineType</td>
                <td>@car.EngineVolume</td>
                <td>
                    <a href="/Car/@car.Id"><i class="glyphicon glyphicon-search"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int dealershipId { get; set; }
    private List<BlazorApp1.Data.ViewModels.CarsTableViewModel> cars;
    private BlazorApp1.Data.ViewModels.DealershipViewModel dealership;

    protected override void OnInitialized()
    {
        this.cars = this.dealershipService.GetCarsDataTableData(dealershipId);
        this.dealership = this.dealershipService.GetDealershipDetails(dealershipId);
    }
}
