@page "/upload"
@inject IDealershipService dealershipService;
@inject IMappingService mappingService;

<h1>Импорт на автокъща</h1>
<div class="drag-drop-zone">
    <InputFile OnChange="UploadSchema" />
    @uploadSchemaStatus
</div>
@if (schemas.Count > 0)
{
    <div class="drag-drop-zone">
    
        <InputFile multiple OnChange="HandleSelection" />
        @status
    </div>
}

<div>
    <p>@schemaValidationErrors</p>
</div>



@if (selectedFiles != null)
{
    <div>
        <button class="btn-primary" onclick="UploadAll">Прикачи всички</button>
    </div>
    foreach (var file in selectedFiles)
    {
        var isLoading = file.Data.Position > 0;

        <div class="file-row">
            <!-- File info -->
            <div>
                <h2>@file.Name</h2>
                Size: <strong>@file.Size bytes</strong>;
                Last modified: <strong>@file.LastModified.ToShortDateString()</strong>;
                Type: <strong>@file.Type</strong>
                Relative Path: <strong>@file.RelativePath</strong>
            </div>

            <!-- Upload button -->
            <button @onclick="() => UploadFile(file)" disabled="@isLoading">
                @if (!isLoading)
                {
                    <span>Импорт</span>
                }
                else
                {
                    <span>Импортирано @((100.0 * file.Data.Position / file.Size).ToString("0"))%</span>
                }
            </button>
        </div>
    }
}

@code {
    IFileListEntry[] selectedFiles;

    void HandleSelection(IFileListEntry[] files)
    {
        selectedFiles = files;
    }

    const string DefaultStatus = "Пуснете файл тук, или кликнете, за да изберете файл/ове";
    const string DefaultUploadSchemaStatus = "Импорт на схема";
    XmlSerializer serializer = new XmlSerializer(typeof(DealershipModel));
    XmlSchemaSet schemas = new XmlSchemaSet();
    string schemaValidationErrors = "";
    const int MaxFileSize = 5 * 1024 * 1024; // 5MB
    string status = DefaultStatus;
    string uploadSchemaStatus = DefaultUploadSchemaStatus;

    string fileName;
    string fileTextContents;

    protected override void OnInitialized()
    {
        this.schemas = this.dealershipService.GetSchemaSet();
        if (schemas.Count == 0)
        {
            this.uploadSchemaStatus = "Ипортирай схема";
        }
        else
        {
            this.uploadSchemaStatus = "Схемата е заредена от базата";
        }
    }

    void UploadAll()
    {
        var models = this.selectedFiles.Select(x => this.mappingService.XmlToModel((DealershipModel)serializer.Deserialize(this.LoadFile(x).Result))).ToList();

        this.dealershipService.Add(models);
    }

    async Task UploadSchema(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file.Name.Contains(".xsd"))
        {
            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);

            var xmlReader = this.dealershipService.UploadSchema(ms);

            schemas.Add(@"https://www.w3schools.com", xmlReader);

            this.uploadSchemaStatus = "Схемата импортирана успешно";
        }

    }

    async Task UploadFile(IFileListEntry file)
    {
        //var xmlReader = await this.LoadFile(file);
        var ms = new MemoryStream();
        await file.Data.CopyToAsync(ms);
        string str = System.Text.Encoding.UTF8.GetString(ms.ToArray());
        var xmlReader = XmlReader.Create(new StringReader(str));

        XmlSerializer ser = new XmlSerializer(typeof(DealershipModel));
        var xml = (DealershipModel)serializer.Deserialize(xmlReader);
        XDocument doc = XDocument.Parse(str);

        string msg = "";
        doc.Validate(schemas, (o, e) =>
        {
            msg += e.Message + Environment.NewLine;
        });

        if (msg.Length > 0)
        {
            this.schemaValidationErrors = msg;
        }
        else
        {
            var model = this.mappingService.XmlToModel(xml);

            this.dealershipService.Add(model);
        }
    }

    async Task<XmlReader> LoadFile(IFileListEntry file)
    {
        // So the UI updates to show progress
        file.OnDataRead += (sender, eventArgs) => InvokeAsync(StateHasChanged);

        // Just load into .NET memory to show it can be done
        // Alternatively it could be saved to disk, or parsed in memory, or similar
        var ms = new MemoryStream();
        await file.Data.CopyToAsync(ms);
        string str = System.Text.Encoding.UTF8.GetString(ms.ToArray());
        var xmlReader = XmlReader.Create(new StringReader(str));

        return xmlReader;
    }

    async Task ViewFile(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file == null)
        {
            return;
        }
        else if (file.Size > MaxFileSize)
        {
            status = $"That's too big. Max size: {MaxFileSize} bytes.";
        }

        XmlSerializer serializer = new XmlSerializer(typeof(DealershipModel));

        var ms = new System.IO.MemoryStream();
        await file.Data.CopyToAsync(ms);






        //XmlSchemaSet schemas = new XmlSchemaSet();
        //schemas.Add(@"https://www.w3schools.com", "schema.xsd");
        //XDocument doc = XDocument.Load("dealership.xml");
        //string msg = "";
        //doc.Validate(schemas, (o, e) =>
        //{
        //    msg += e.Message + Environment.NewLine;
        //});
        //Console.WriteLine(msg == "" ? "Document is valid" : "Document invalid: " + msg);
        //else
        //{
        //    status = "Loading...";

        //    using (var reader = new StreamReader(file.Data))
        //    {
        //        fileTextContents = await reader.ReadToEndAsync();
        //        fileName = file.Name;
        //    }

        //    status = DefaultStatus;
        //}
    }
}